body{background-color: #276C6B; width: 100%}
#link{font-weight: 100; font-size: 15px;}
#prime{font-weight: 200; font-size:40px; font-style: oblique;}
#fqa{color:#fff; background:#65CA74; font-weight: bolder;}
#image{border-radius: 20%}
#with{font-weight: 200; font-size:100px; font-style: oblique;}
#five{font-weight: 200; font-size:50px; font-style: oblique;}
#heading{font-weight: 60; font-size:50px;}
.col-md-4{margin:0; border:0;}
.col-md-12{margin:0; border:0; padding:0;}